<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wsyzj.watchvideo">

    <uses-permission android:name="android.permission.INTERNET"/>                   <!-- 网络通信-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>       <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>           <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>          <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>     <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>      <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>               <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>                  <!-- gps -->

    <application
        android:name=".business.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        // 闪屏
        <activity android:name=".business.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        // 主界面
        <activity
            android:name=".business.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        // WebView
        <activity android:name=".business.activity.WebViewActivity"/>

        // 每日一文
        <activity android:name=".business.activity.MeiRiYiWenActivity"/>

        // 预览大图
        <activity android:name=".business.activity.PreviewLargeActivity"/>

        // 音乐播放服务
        <service android:name=".business.service.PlayMusicTestService"/>

        // 音乐播放服务
        <service android:name=".business.service.PlayMusicService"/>

        // 第三方sdk
        // 有米
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wsyzj.watchvideo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider"/>

        </provider>

        <!--// 蒲公英-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="8971c5e41d4b18d5afd19d114cadbbb4">
        </meta-data>

    </application>

</manifest>